global:
  imageRegistry: docker.io

image:
  repository: grafana/grafana
  tag: "12.3.0"

sidecar:
  image:
    repository: kiwigrid/k8s-sidecar
    tag: "1.30.9"

adminUser: admin
adminPassword: admin

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki-gateway.loki.svc.cluster.local/
        isDefault: true
        jsonData:
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: loki
