---
global:
  imageRegistry: npindusdirectacr.azurecr.io

image:
  registry: npindusdirectacr.azurecr.io
    repository: grafana/loki
    tag: "3.6.3"

# loki:
#   image:
#     registry: npindusdirectacr.azurecr.io
#     repository: grafana/loki
#     tag: "3.6.3"

# backend:
#   image:
#     registry: npindusdirectacr.azurecr.io

# write:
#   image:
#     registry: npindusdirectacr.azurecr.io

gateway:
  image:
    repository: nginxinc/nginx-unprivileged
    tag: "1.29-alpine"

lokiCanary:
  image:
    repository: grafana/loki-canary
    tag: "3.6.3"

memcached:
  image:
    repository: memcached
    tag: "1.6.39-alpine"

memcachedExporter:
  image:
    repository: prom/memcached-exporter
    tag: "v0.15.4"

sidecar:
  image:
    repository: kiwigrid/k8s-sidecar
    tag: "1.30.9"

loki:
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4

deploymentMode: SimpleScalable

backend:
  replicas: 3
read:
  replicas: 3
write:
  replicas: 3

# Enable minio for storage
minio:
  enabled: true
  image:
    repository: npindusdirectacr.azurecr.io/minio/minio
    tag: "RELEASE.2024-12-18T13-15-44Z"
  persistence:
    size: 20Gi
  replicas: 3
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m

# Zero out replica counts of other deployment modes
singleBinary:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
